<img src="https://cdn.shopify.com/s/files/1/2706/0452/files/tees-size-chart.jpg?v=1642289586">
<div class="size-details-wrap">
  <div class="measurement-guide">
    <p class="heading">1. SLEEVE LENGTH</p>
    <p>Measure from the shoulder seam to the bottom of the sleeve.</p>
    <p class="heading">2-3. SHOULDER & CHEST WIDTH</p>
    <p>Lay the garment & measure straight between the lowest point of the arm seams and shoulder seams straight across.</p>
    <p class="heading">4. BACK LENGTH</p>
    <p>The length at the center back from the base of the collar to the hem.</p>
  </div>
  <div class="size-toggle-wrap">
    <ul class="row size-row">
      <li class="sizes xs underline">xs</li>
      <li class="sizes s">s</li>
      <li class="sizes m">m</li>
      <li class="sizes l">l</li>
      <li class="sizes xl">xl</li>
    </ul>
    <ul class="measurement-wrap xs show" data-size="xs">
      <li class="details">
        <p class="sleeve">Sleeve Length</p>
        <p class="measurement">26.50in | 67cm</p>
      </li>
      <li class="details">
        <p class="sleeve">Shoulder & Chest Width</p>
        <p class="measurement">26.75in | 67cm</p>
      </li>
      <li class="details">
        <p class="sleeve">Back Length</p>
        <p class="measurement">30.00in | 76cm</p>
      </li>
    </ul>
    <ul class="measurement-wrap s" data-size="s">
      <li class="details">
        <p class="sleeve">Sleeve Length</p>
        <p class="measurement">26.50in | 68cm</p>
      </li>
      <li class="details">
        <p class="sleeve">Shoulder & Chest Width</p>
        <p class="measurement">26.75in | 68cm</p>
      </li>
      <li class="details">
        <p class="sleeve">Back Length</p>
        <p class="measurement">30.00in | 77cm</p>
      </li>
    </ul>
    <ul class="measurement-wrap m" data-size="m">
      <li class="details">
        <p class="sleeve">Sleeve Length</p>
        <p class="measurement">26.50in | 69cm</p>
      </li>
      <li class="details">
        <p class="sleeve">Shoulder & Chest Width</p>
        <p class="measurement">26.75in | 69cm</p>
      </li>
      <li class="details">
        <p class="sleeve">Back Length</p>
        <p class="measurement">30.00in | 78cm</p>
      </li>
    </ul>
    <ul class="measurement-wrap l" data-size="l">
      <li class="details">
        <p class="sleeve">Sleeve Length</p>
        <p class="measurement">26.50in | 70cm</p>
      </li>
      <li class="details">
        <p class="sleeve">Shoulder & Chest Width</p>
        <p class="measurement">26.75in | 70cm</p>
      </li>
      <li class="details">
        <p class="sleeve">Back Length</p>
        <p class="measurement">30.00in | 79cm</p>
      </li>
    </ul>
    <ul class="measurement-wrap xl" data-size="xl">
      <li class="details">
        <p class="sleeve">Sleeve Length</p>
        <p class="measurement">26.50in | 71cm</p>
      </li>
      <li class="details">
        <p class="sleeve">Shoulder & Chest Width</p>
        <p class="measurement">26.75in | 71cm</p>
      </li>
      <li class="details">
        <p class="sleeve">Back Length</p>
        <p class="measurement">30.00in | 80cm</p>
      </li>
    </ul>
  </div>
</div>