<a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">
    <img src="https://cdn.shopify.com/s/files/1/2706/0452/files/cart_icon_23296e13-4be5-4c57-abd0-64cbd1108d27.png?v=1589781999">
    <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
    <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %}" data-cart-count-bubble>
        <span class="cart_count" data-cart-count>{{ cart.item_count }}</span>
        <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
    </div>
</a>
