<div class="page-width">
  {% include 'accounts-sidebar' %}

  <div class="content">
    <div class="section-header text-center">
      <h1>Account Information</h1>
    </div>
    <div class="grid myaccount">
      <div class="grid__item myaccount__account-details">
        {{ customer.default_address | format_address }}

        <p><a href="{{ routes.account_addresses_url }}" class="btn btn--small">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
      </div>
    </div>
  </div>
</div>
