<div class="images_wrapper">
    {% for block in section.blocks %}
        <img src="{{ block.settings.image | img_url: 'large' }}" alt="">
    {% endfor %}
</div>

{% schema %}
{
    "name": "Blog Images",
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Photo"
                }
            ]
        }
    ]
}
{% endschema %}