<h1>{{ section.settings.header }}</h1>
{% for block in section.blocks %}
    {{ block.settings.episode }}
{% endfor %}

{% schema %}
{
  "name": {
    "en": "Radio"
  },
  "class": "radio-list",
  "settings": [
    {
        "id": "header",
        "type": "text",
        "label": "Header",
        "default": "Asterisks* Radio"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": {
        "en": "Episode"
      },
      "settings": [
        {
          "label": "Radio episode",
          "id": "episode",
          "type": "html"
        }
      ]
    }
  ]
}
{% endschema %}
